header {
    background: #fff;
    min-height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1001;
    box-shadow: 0 0 5px rgba(18,23,39,.5);
    .topbar-toggler{
        background: transparent;
        color: #fff;
        border: 0 none;
        font-size: 22px;
        .dropdown-user {
            left: auto;
            right: 3px;
            margin-top: 0;
            position: absolute;
            background: #fff;
            width: 260px;
            border: 0px;
            border-radius: 3px;
            box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15) !important;
            padding-bottom: 8px;
            padding-left: 0;
            display:none;
            li{
                list-style: none;
            }
            &.show{
                display:block
            }
            &:after{
                border-bottom: 8px solid #fff;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                content: "";
                right: 10px;
                top: -8px;
                position: absolute;
                z-index: 1001;
            }
            .user-box{
                display: flex;
                padding: 0.25rem 1rem;
                .u-text{
                    padding: 0 10px;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    h4 {
                        margin-bottom: 5px;
                        margin-top: 4px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1;
                        text-align: left;
                        color: #6c757d!important;
                    }
                    .text-muted {
                        font-size: 12px;
                        margin-bottom: 5px;
                        color: #6c757d!important;
                        line-height: 24px;
                    }
                    .btn{
                        font-size: 11px;
                    }
                }
            }
        }
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
    .logo-header {
        background: #5cc55b !important;
        box-shadow: 0 1px 6px 0 rgba(160, 160, 160, 0.5);
        float: left;
        width: 211px;
        height: 62px;
        line-height: 60px;
        color: #333;
        z-index: 1001;
        font-size: 17px;
        font-weight: 400;
        padding-left: 15px;
        padding-right: 3px;
        z-index: 1001;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        transition: all .3s;
        .logo {
            color: #fff;
            opacity: 1;
            position: relative;
            height: 100%;
        }
    }
    .navbar-header {
        background: #5cc55b!important;
        min-height: 62px;
        padding: 0 15px;
        .dropdown-menu {
            left: auto;
            right: 0;
            margin-top: 13px;
            position: absolute;
            width: 260px;
            border: 0px;
            border-radius: 3px;
            box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15) !important;
            padding-bottom: 8px;
            &:after{
                border-bottom: 8px solid #fff;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                content: "";
                right: 10px;
                top: -8px;
                position: absolute;
                z-index: 1001;
            }
            .user-box{
                display: flex;
                padding: 0.25rem 1rem;
                .u-text{
                    padding: 0 10px;
                    h4 {
                        margin-bottom: 5px;
                        margin-top: 4px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1;
                    }
                    .text-muted {
                        font-size: 12px;
                        margin-bottom: 5px;
                        color: #6c757d!important;
                    }
                    .btn{
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .toggle-sidebar i{
        font-size:27px;
        color:#fff;
    }
    .toggle-sidebar:focus{
        box-shadow: none;
    }
}


.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 211px;
    margin-top: 62px;
    display: block;
    z-index: 1000;
    color: #ffffff;
    font-weight: 200;
    background: #ffffff;
    box-shadow: 0 1px 14px 0 rgba(190, 190, 190, 0.5);
    transition: all 0.3s;
    &.active{
        left: -212px;
    }
    .sidebar-wrapper{
        position: relative;
        max-height: calc(100vh - 75px);
        min-height: 100%;
        overflow: auto;
        width: 100%;
        z-index: 4;
        transition: all 0.3s;
        .outer-logo{
            background-image: linear-gradient(to bottom, rgba(92,197,91, 0.8), #ffffff 73%, #ffffff 133%);
        }
        .nav-logo{
            background: url(../../assets/images/sidenavlogo.svg) no-repeat center 23px;
            width: 100%;
            height: 125px;
            margin-bottom: 40px;
        }
        .nav{
            display: block;
            float: none;
            margin-top: 20px;
            li{
                padding: 0 10px;
                display: list-item;
                margin-bottom: 10px;
                a.active{
                    border-radius: 3px;
                    box-shadow: 0 1px 14px 0 rgba(190, 190, 190, 0.5);
                    background-color: #00a826;
                    span{
                        color: #fff;
                        -webkit-transform: rotate(-180deg);
                        transform: rotate(-180deg);
                    }
                    i{
                        &.dashboard-icn{
                            background: url(../../assets/images/dashboardwhite.svg) no-repeat;
                        }
                        &.order-icn{
                            background: url(../../assets/images/orderswhite.svg) no-repeat;
                        }
                        &.category-icn{
                            background: url(../../assets/images/categorywhite.svg) no-repeat;
                        }
                        &.product-icn{
                           background: url(../../assets/images/productwhite.svg) no-repeat;
                        }
                        &.location-icn{
                            background: url(../../assets/images/locationwhite.svg) no-repeat;
                        }
                        &.cust-icn{
                           background: url(../../assets/images/customerswhite.svg) no-repeat;
                        }
                        &.setting-icn{
                           background: url(../../assets/images/settingswhite.svg) no-repeat;
                        } 
                    }
                    &:hover{
                        background: #2aa745 !important;
                    }
                    i,p{
                        color: #fff;
                    }
                }
                a{
                    padding: 8px 10px 8px 30px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    color: #575962;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 400;
                    position: relative;
                    margin-bottom: 3px;
                    &:hover{
                        background: rgba(199, 199, 199, 0.2);
                        text-decoration: none;
                    }
                    span{
                        position: absolute;
                        right: 15px;
                        top: 12px;
                        color: #8d9498;
                        transition: all .5s;
                    }
                    i{
                        margin-right: 15px;
                        width: 21px;
                        height: 25px;
                        text-align: center;
                        vertical-align: middle;
                        float: left;
                        line-height: 30px;
                        
                        &.dashboard-icn{
                            background: url(../../assets/images/dashboardgrey.svg) no-repeat;
                            height: 15px;
                        }
                        &.order-icn{
                            background: url(../../assets/images/ordersgrey.svg) no-repeat;
                            height: 17px;
                        }
                        &.category-icn{
                            background: url(../../assets/images/categorygrey.svg) no-repeat;
                            height: 21px;
                        }
                        &.product-icn{
                            background: url(../../assets/images/productgrey.svg) no-repeat;
                            height: 15px;
                        }
                        &.location-icn{
                            background: url(../../assets/images/locationgrey.svg) no-repeat;
                            height: 17px;
                        }
                        &.cust-icn{
                            background: url(../../assets/images/customersgrey.svg) no-repeat;
                            height: 16px;
                        }
                        &.setting-icn{
                            background: url(../../assets/images/settingsgrey.svg) no-repeat;
                            height: 16px;
                        }
                    }
                    p{
                        font-size: 14px;
                        margin-bottom: 0px;
                        margin-right: 5px;
                        white-space: nowrap;
                        color: #8d9498;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px) {
    header .logo-header{
        box-shadow: none;
    }
}

@media screen and (max-width: 768px){
    .logo-header .logo {
        position: absolute!important;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-header {
        display: flex;
        width: 100%!important;
        text-align: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
}