<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Add Category</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Category</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Add Category</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Add Category</div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Category Image</label>
                                    <div class="col-sm-6">
                                        <!-- <input type="file" id="category_img" class="form-control-file"> -->
                                        <input type="file" (change)="fileChangeEvent($event)" formControlName="image"
                                            [ngClass]="{ 'is-invalid': f.image.invalid && (f.image.dirty || f.image.touched || !submitted)}" />
                                        <div *ngIf="f.image.invalid && (f.image.dirty || f.image.touched || !submitted)"
                                            class="err-msg">
                                            Please upload category image
                                        </div>

                                        <image-cropper [imageChangedEvent]="imageChangedEvent"
                                            [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128"
                                            format="png" (imageCropped)="imageCropped($event)"
                                            (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                            (loadImageFailed)="loadImageFailed()"></image-cropper>

                                        <img [src]="croppedImage" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Category Name (English)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" formControlName="categoryNameEn"
                                            [ngClass]="{ 'is-invalid': f.categoryNameEn.invalid && (f.categoryNameEn.dirty || f.categoryNameEn.touched || !submitted)}">
                                        <div *ngIf="f.categoryNameEn.invalid && (f.categoryNameEn.dirty || f.categoryNameEn.touched || !submitted)"
                                            class="err-msg">
                                            Enter valid Category Name in English
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Category Name (Tamil)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" formControlName="categoryNameTn"
                                            [ngClass]="{ 'is-invalid': f.categoryNameTn.invalid && (f.categoryNameTn.dirty || f.categoryNameTn.touched || !submitted)}">
                                        <div *ngIf="f.categoryNameTn.invalid && (f.categoryNameTn.dirty || f.categoryNameTn.touched || !submitted)"
                                            class="err-msg">
                                            Enter valid Category Name in Tamil
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Status</label>
                                    <div class="col-sm-6">
                                        <div class="radio radio-inline">
                                            <input type="radio" id="cat_active" formControlName="categoryStatus"
                                                value="active" checked>
                                            <label for="cat_active">Active</label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" id="cat_inactive" formControlName="categoryStatus"
                                                value="inactive">
                                            <label for="cat_inactive">Inactive</label>
                                        </div>
                                        <div *ngIf="f.categoryStatus.invalid && (f.categoryStatus.dirty || f.categoryStatus.touched || !submitted)"
                                            class="err-msg">
                                            Please select the status
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success">Submit</button>
                                        <button class="btn btn-default" routerLink="/category">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>