<div class="main-panel">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Category</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#"><i class="fa fa-home"></i></a>
                </li>
                <li class="separator">
                    <i class="fa fa-right-arrow"></i>
                </li>
                <li class="nav-item"><a href="#">Category</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Manage Category</div>
                        <button class="btn btn-secondary btn-sm float-right" routerLink="/category-addEdit">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>
                            Add New
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S. No</th>
                                        <th>Category Name</th>
                                        <th>Added Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr *ngFor="let category of categoryList; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <div class="cat_box">
                                                <div class="avatar-lg">
                                                    <img [src]="category.image" alt="category Image"
                                                        class="avatar-img rounded">
                                                </div>
                                                <div class="cat_inner">
                                                    <span>{{category.name_eng}}</span>
                                                    <span>{{category.name_tam}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{category.added_date}}</td>
                                        <td>{{category.status}}</td>
                                        <td>
                                            <button class="btn btn-warning btn-sm mr-1">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>