<div class="login-outer">
    <div class="login-logo"></div>
    <div class="login-box">
        <h3>Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Email id / Username </label>
                <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.email.invalid && (f.email.dirty || f.email.touched || !submitted)}">
                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched || !submitted)"
                    class="err-msg">
                    Enter valid Username
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password"  [ngClass]="{ 'is-invalid': f.email.invalid && (f.email.dirty || f.email.touched || !submitted)}" >
                <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched || !submitted)"
                class="err-msg">
                    Enter valid Password
                </div>
            </div>
            <div class="form-group">
                <div class="inner-bx">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="remember"/>
                        <label for="remember">Remember Me</label>
                    </div>
                    <a (click)="forgotPassword()">Forgot Password?</a>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </form>
    </div>
    <div class="copyright">Copyright &copy; Kasonlineshop.com.</div>
</div>